body{
    background: rgb(255, 255, 255);
    font: normal 15pt Arial;
}

header{
    color: rgb(255, 255, 255);
    text-align: center;
}

section{
    background: rgb(255, 255, 255);
    border-radius: 30px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 20px 5px rgba(0, 0, 0, 0.212);
}

footer{
    color: rgb(255, 255, 255);
    text-align: center;
    font-style: italic;
}

div{
    text-align: center;
}

#msg{
    text-align: center;
}

#imagem{
    margin: 20px;
    width: 200px;
}